.auth-container {
  position: relative;
  width: 90%;
  max-width: 768px;
  min-height: 500px;
  overflow: hidden;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-container {
  perspective: 1200px;
  width: 100%;
  max-width: 768px;
  height: auto;
  position: relative;
}
